{% extends 'base.html' %}


{% block title %}
Enter your data
{% endblock %}


{% block body %}
<div class="case">
    <h1>What's up</h1> <br>

    <form method="post">
        <label for="CarYear">Enter car year:</label> <input type="name" name="CarYear" id="CarYear">
        <label for="EngineCapacity">Enter Engine Capacity:</label> <input type="name" name="EngineCapacity" id="EngineCapacity">
        <label for="HorsePower">Enter Horse Power:</label> <input type="name" name="HorsePower" id="HorsePower">
        <label for="CarOdo">Enter Car Odo:</label> <input type="name" name="CarOdo" id="CarOdo"><br><br>
        <label for="CarMark">Enter Car Mark:</label> <input type="name" name="CarMark" id="CarMark">
        <label for="CarModel">Enter Car Model:</label> <input type="name" name="CarModel" id="CarModel">
        <br>
        <br>
        <label for="CarTrans">Choose a Transmission:</label>
        <select name="CarTrans" id="CarTrans">
            <option value="">--Please choose an option--</option>
            <option value="автомат">автомат</option>
            <option value="вариатор">вариатор</option>
            <option value="механика">механика</option>
            <option value="робот">робот</option>
        </select>
        <br>
        <br>
        <label for="FuelType">Choose a fuel type:</label>
        <select name="FuelType" id="FuelType">
            <option value="">--Please choose an option--</option>
            <option value="бензин">бензин</option>
            <option value="дизель">дизель</option>
            <option value="гибрид">гибрид</option>
        </select>
        <br>
        <br>
        <label for="CarDrive">Choose a drive type:</label>
        <select name="CarDrive" id="CarDrive">
            <option value="">--Please choose an option--</option>
            <option value="4WD">4WD</option>
            <option value="задний">задний</option>
            <option value="передний">передний</option>
        </select>


        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}