{% extends 'base.html' %}


{% block title %}
Car Price
{% endblock %}


{% block body %}
<header class="topbar">
    <!-- <div class="topbar-container"> -->
        <a class="header-logo" href="#"> 
            <img src="static/img/logo1.svg" ></a>
        <nav class="topbar-navigation">
            <ol class="topbar-content">
                <li><a href="#"></a></li>
                <!-- <a href="/path/to/page.html?param1=value1&param2=value2">?</a> -->
            </ol>
        </nav>
    </div>
</header>
<div class="page-content">
    <h1>Рассчитайте предварительную цену автомобиля исходя из его характеристик</h1>
    <p>Пожалуйста, заполните все поля для получения наиболее точного результата!</p>
    <div class="case">
        <form method="post">
            <label for="CarMark" style="display: none;">Марка</label> <input type="name" name="CarMark" id="CarMark" placeholder="Марка"><br>
            <label for="CarModel" style="display: none;">Модель</label> <input type="name" name="CarModel" id="CarModel" placeholder="Модель"><br>
            <label for="CarYear" style="display: none;">Год</label> <input type="name" name="CarYear" id="CarYear" placeholder="Год"><br>
            <label for="EngineCapacity" style="display: none;">Объем двигателя</label> <input type="name" name="EngineCapacity" id="EngineCapacity" placeholder="Объем двигателя"><br>
            <label for="HorsePower" style="display: none;">Мощность</label> <input type="name" name="HorsePower" id="HorsePower" placeholder="Мощность"><br>
            <label for="CarOdo" style="display: none;">Пробег</label> <input type="name" name="CarOdo" id="CarOdo" placeholder="Пробег"><br>
            <br>
            <br>
            <label for="CarTrans" style="display: none;">КПП</label>
            <select name="CarTrans" id="CarTrans" placeholder="КПП">
                <option value="">КПП</option>
                <option value="автомат">Автомат</option>
                <option value="вариатор">Вариатор</option>
                <option value="механика">Механика</option>
                <option value="робот">Робот</option>
            </select>
            <br>
            <br>
            <label for="FuelType" style="display: none;">Топливо</label>
            <select name="FuelType" id="FuelType" placeholder="Топливо">
                <option value="">Топливо</option>
                <option value="бензин">Бензин</option>
                <option value="дизель">Дизель</option>
                <option value="гибрид">Гибрид</option>
            </select>
            <br>
            <br>
            <label for="CarDrive" style="display: none;">Привод</label>
            <select name="CarDrive" id="CarDrive" placeholder="Привод">
                <option value="">Привод</option>
                <option value="4WD">4WD</option>
                <option value="задний">Задний</option>
                <option value="передний">Передний</option>
            </select>
            <br>
            <br>
            <button type="submit">Узнать стоимость</button>
        </form>
    </div>
</div>
{% endblock %}